p {
  margin: 0;
}

.bg-lightblue {
  background-color: #bddfff;
}

.field {
  width: 300px;
  height: 600px;
}

.score-area {
  width: 200px;
  height: 90px;
}

.next-area {
  width: 150px;
  height: 200px;
}

.hold-area {
  width: 150px;
  height: 200px;
  margin-top: 78px;
}

.pause-button {
  border: none;
  outline: none;
  background: transparent;
}

.clickable {
  cursor: pointer;
}

.clickable :hover {
  color: silver;
}
